* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

.container {
    width: 450px;
    text-align: center;
}

.heading {
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
    
}

.operation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

#input {
    width: 260px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    font-size: 16px;
    background-color: black;
    color: white;
}


#input::placeholder{
color: white;
}

button {
    padding: 10px 18px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: black;
}

button:hover {
    background: white;
    color: black;
}


.card {
    background: black;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    color: white;
}


.Picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}


.barabar{
    margin-top: 20px;
    margin: 30px;
}